<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking_template.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @booking_template.creator %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @booking_template.created_at %>
</p>

<%= link_to 'Edit', edit_booking_template_path(@booking_template) %> |
<%= link_to 'Back', booking_templates_path %>
